.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    
}

.container {
    padding: 2px 16px;
 
    
}
.row{
    display: flex;
gap: 150px;
margin-top: 150px;
    
}

.col{
    /* border: 2px solid red; */
    position: relative;
    margin-top: 350px;
   right:105rem;
   display: flex;
gap: 150px;
}